@model Article
@{
    ViewData["Title"] = "EditBlog";
    Layout = "~/Areas/Writer/Views/WriterLayout/Index.cshtml";
}

<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">Size Ait Bloglar</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Bloglar</a></li>
                <li class="breadcrumb-item active" aria-current="page">Yazar Blogları</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Basic Table</h4>
                    <p class="card-description">
                        Aşağıdaki tablodan size ait blogları görüntüleyebilir, üzerlerinde işlem yapabilirsiniz.
                    </p>
                    <form method="post">
                        @Html.HiddenFor(x => x.ArticleId)
                        <label>Oluşturma Tarihi</label>
                        <input type="datetime" asp-for="CreatedDate" class="form-control" readonly />
                        <br />
                        <label>Blog Başlığı</label>
                        <input type="text" asp-for="Title" class="form-control" />
                        <br />
                        <label>Blog Kategori</label>
                        @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.v, new { @class = "form-control" })
                        <br />
                        <label>Blog Kapak Fotoğrafı</label>
                        <input type="text" asp-for="CoverImageUrl" class="form-control" />
                        <label>Blog Detayları</label>
                        <textarea rows="5" class="form-control" asp-for="Description"></textarea>
                        <br />
                        <button class="btn btn-info">Blogu Kaydet</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

