
<div class="page-header flex-wrap">
    <h3 class="mb-0">
        Tekrar hoşGeldin! <span class="pl-0 h6 pl-sm-2 text-muted d-inline-block">Burada senin profilinin analizleri gösterilir.</span>
    </h3>
    <div class="d-flex">
        <button type="button" class="btn btn-sm bg-white btn-icon-text border">
            <i class="mdi mdi-email btn-icon-prepend"></i> Mail Gönder
        </button>
        <button type="button" class="btn btn-sm bg-white btn-icon-text border ml-3">
            <i class="mdi mdi-printer btn-icon-prepend"></i> Yazdır
        </button>
        <button type="button" class="btn btn-sm ml-3 btn-success"> Bloglarıma git </button>
    </div>
</div>
