<div class="sidebar-box">
    <h3 class="heading">Tags</h3>
    <ul class="tags">
        <li><a href="#">Spor</a></li>
        <li><a href="#">Şampiyon</a></li>
        <li><a href="#">Futbol</a></li>

    </ul>
</div> 
