
@{
    Layout = null;
}
 
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
<div class="container"> 
    <form method="post">
        <label>Kategori Adını Giriniz</label> 
        <input type="text" class="form-control" name="CategoryName" /> 
        <br /> 
        <button class="btn btn-outline-primary">Yeni Kategori Girişi</button>
    </form>
</div>
