<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Dashboard/Index">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li> 
        <li class="nav-item">
            <a class="nav-link" href="/Admin/AdminCategory/Index/">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Kategori Ekle</span>
            </a>
        </li> 
         
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Writer/Index/">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Bloglar</span>
            </a>
        </li> 
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Support/SendMessageList">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Gönderilen Mesajlar</span>
            </a>
        </li> 
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Support/Index">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Gelen Kutusu</span>
            </a>
        </li> 
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Notification/Index">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Duyurular</span>
            </a>
        </li>  
        <li class="nav-item">
            <a class="nav-link" href="../../index.html">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Ayarlar</span>
            </a>
        </li>
        
    </ul>
</nav>